{% extends "myapp/base.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Gunlugu sil</legend>
                <h2>Var olan silinsin mi?"{{ object.title }}"</h2>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-danger" type="submit">Evet</button>
                <a class="btn btn-outline-secondary" href="{% url 'daily-detail' object.id %}">Çıkış</a>
            </div>
        </form>
    </div>
{% endblock content %}